*{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    margin: 0;
    padding:0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

#root {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
gap: 40px;
width: 100%;
height: 100%;
background: hsla(33, 100%, 88%, 0.3);
padding: 70px 40px 40px;
color: hsla(0, 0%, 0%, 0.856); 
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 32px;
font-weight: bold;
}

.data-container{
    max-width: 600px;
}

.error{
    color: red;
}

button {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    color: hsla(240, 100%, 50%, 0.516);
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius:12px;
    cursor: pointer;
}

button:hover{
    background-color: hsla(240, 100%, 50%, 0.158);
}