
main {
    height: 200vh; /*for scroll*/
  }

  .navbar {
    background-color: white;
    color: black;
    height: 40px;
    font-size: 25px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    gap:25px;
    &:hover {
      background-color: black;
      color: white;
      transition: all 0.4s linear;
    } /*just another way of inserting hover*/
position: sticky;
top: 10px;
  }

.nav-item{
  text-decoration: underline;
  font-family: "NarrowNews";
  &:hover{
    color: white;
  }
}  

@font-face{
  font-family:"NarrowNews";
  src: url("./fonts/ClanOT-NarrowNews.ttf");
  font-size: normal;
  font-weight: normal;
}
  